* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.header {
    background-color: #742124;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    width: 700px;
    background-color: aqua;

}

nav > ul {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}